.fit-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed; /* Changed from absolute to fixed */
  top: 0; /* Aligns the image to the top edge */
  left: 0; /* Aligns the image to the left edge */
}
